@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 14px;
}

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}

/* For Mozilla Firefox stylings */
@supports (-moz-appearance: none) {
  * {
    scrollbar-color: #ff751a transparent !important;
  }
}

::-webkit-scrollbar {
  appearance: none;
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #ff751a;
  min-height: 50px;
}

@media only screen and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
  }
}
